@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(images/bg-desktop.svg);
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headerSvgContainer{
    max-width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introductory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    min-width: 90%;
    gap: 2rem;

}
.mockup{
    margin-top: 2rem;
}
.head{
    font-family: "Poppins", sans-serif;
    font-size: 2.6rem;
    color: white;
    font-weight: 600;
}
.description{
    font-family: "Open Sans", sans-serif;
    color: rgb(233, 232, 232);
    font-weight: 400;
    line-height: 1.5rem;

}
.logoSvg{
    width: 100%;
    height: auto;
}
.svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
    margin-left: 0.7rem;
    border-radius: 2rem;
}
.svg:hover {
    cursor: pointer;
    fill: #db4da9;
    transition: all 0.5s ease-in-out;
}
.header-and-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.header-and-mockup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.btn {
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 1rem 1.5rem;
    border: 2px solid hsl(257, 40%, 49%);
    border-radius: 2rem;
    font-size: 1rem;
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.btn:hover{
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: white;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
}
.socials{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media (max-width: 900px) {

    body{
        background: url(images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);

    }
    .container{
        width: 100%;
    }
    
    .headerSvgContainer {
        max-width: 9rem;
    }
    
    .header-and-content {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
    .header-and-mockup{
        gap: 0.5rem;
    }
    
    .mockupSvg {
        width: 15rem;
        height: auto;
    }
    
    .head {
        font-size: 1.2rem;

    }
    
    .description {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    
    .svg {
        width: 1.4rem; 
        height: 1.4rem;
        margin-left: 0;
    }
    .introductory{
        text-align: center;
    }
    
    .socials {
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .btn {
        width: 100%;
        padding: 0.7rem;
    }
}