@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}
html{
    font-size: 20px;
}
body{
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0.2rem;
    padding: 2.5rem 1rem;
    width: 29rem;
}
header h1{
    font-size: 1.8rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    margin-bottom: 1rem;
}
.h1SecondPart{
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: hsl(234, 12%, 34%);
} 
header .headerDescription{
    font-size: 0.75rem;
    color: hsl(229, 6%, 66%);
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(3,20rem);
    gap: 1.5rem;
    padding: 0rem 5rem 5rem 5rem;
    width: 100%;
    justify-content: center;
    place-items: center;
}
.card12Container{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
}
.card1, .card2, .card3, .card4{
    background-color: #fff;
    border-radius: 0.3rem;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
    height: 15rem;
    width: 20rem;
}
.card1{
    border-top: 0.25rem solid hsl(180, 62%, 55%);

}
.card2{
    border-top: 0.25rem solid hsl(0, 78%, 62%);

}
.card4{
    border-top: 0.25rem solid hsl(212, 86%, 64%);

}
.card3{
    border-top: 0.25rem solid hsl(34, 97%, 64%);

}
.cardHeader{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    text-align: left;
    font-size: 1.1rem;
}
.cardDescription{
    font-size: 0.75rem;
    text-align: left;
    margin-top: 1rem;
    color: hsl(229, 6%, 66%); 
}
.icon{
    text-align: right;
    margin-top: 3.5rem;
}
@media screen and (max-width: 1100px) {
    header{
        width: 80%;
    }
    header h1{
        font-size: 1.4rem;
    }
    .headerDescription{
        margin-top: 1rem;
        width: 90%;
    }
    .card12Container{
        width: 100%;
        gap: 2rem;
    }
    .cardContainer {
        grid-template-columns: 100%;
        grid-template-rows: 3fr;
        padding: 1rem;
        gap: 2rem;
    }
    .card1, .card2, .card3, .card4 {
        width: 90%;
    }
    .icon{
        margin-top: 4rem;
    }
}
