@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-weight: 400;
}
body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: left;
    border: 2px solid black;
    box-shadow: 8px 8px 2px rgb(0, 0, 0);
}
.lrn{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}
.card {
    text-align: left;
}
.lng{
    color:hsl(0, 0%, 42%);
}
.pbl{
    color: hsl(0, 0%, 7%);
}
h2{
    font-weight: 800;
    margin: 15px 0;
}
p{
    margin: 5px 0;
    padding: 5px 0;
}
.ill{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.imgContainer{
    display: flex;
    align-items: center;
}
.img{
    width: 35px;
    margin-right: 10px;
}
.imgContainer p{
    font-weight: bold;
    margin: 0;
}
.name{
    font-weight: bold; 
}
.crd{
    color:hsl(0, 0%, 42%);
    font-size: 8px;
}